* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 21px;
}

@import "themes/Tokyo-Night.css";

window#waybar {
    background: @bar-bg;
    border-radius: 7px;
}

tooltip {
    background: #11111b;
    color: @main-fg;
    border-radius: 8px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0px;
    color: #EAB2C2;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.persistent{
    color: #EBDDBC;
}

#workspaces button.active {
    background: #d8dee9;
    color: #2e3440;
    /* margin-left: 1px; */ 
    /* padding-left: 4px; */
    /* padding-right: 8px; */
    /* margin-right: 1px; */
    /* animation: ws_active 20s ease-in-out 1; */
    transition: all 0.1s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #d8dee9;
    color: #2e3440;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery,
#bluetooth,
#clock,
#idle_inhibitor,
#memory,
#network,
#custom-power,
#custom-theme,
#tray,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
    
}

#tray menu *{
  color: #EAB2C2;
}


#battery{
    color: #83A6BF;
}

#custom-updates,
#custom-power,
#clock,
#idle_inhibitor{
    color: #DEC386;
}
#custom-power{
    padding-right: 8px;
}
#network,
#blueooth{
    color: #EAB2C2;
}

#idle_inhibitor{ 
    padding-right: 14px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 8px;
    padding-left: 0px;
}


