* {
    border: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    transition: none;
    background: #212D40;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 12px;
}

#workspaces button {
    transition: none;
    color: #364156;
    background: transparent;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #FFFFFF;
    font-size: 12px;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #FFFFFF;
    background: #364156;
}

#workspaces button.focused {
    color: white;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#tray {
    background-color: #1e1e2e;
    color: #181825;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

#temperature {
    transition: none;
    color: #ffffff;
    background: #7B0D1E;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

#temperature.critical {
    background-color: #eb4d4b;
}
#memory {
    transition: none;
    color: #FFFFFF;
    background: #364156;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 15px;
}

#battery {
    transition: none;
    color: #FFFFFF;
    background: #558564;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;

}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.urgent {
    background-color: #ff0048;
    color: #181825;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    border-radius: 10px;
    transition: none;
    color: #FFFFFF;
    background: #E88873;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 15px;
}

#clock {
    transition: none;
    color: #FFFFFF;
    background: #689689;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

tooltip {
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

tooltip label {
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #181825;
    }
}
