* {
  all: unset;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  font-weight: bold;
}

tooltip {
  background: #282828;
}

progressbar > trough {
  min-width: 50px;
}

.module {
    background: #282828; 
    margin-right: 8px;
    border-radius: 30px; 
    padding: 0 10px;
}

.bar {
    background: #282828; 
    border-radius: 15px; 
    border: 2px solid #ffbd5e;
}

.workspace {
  border-radius: 30px;
  padding: 8px;

  &__1 {
    color: #a89984;
  }
}

.clock {
  font-size: 14px;
}

.battery {
  font-size: 14px;
}
